@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --bg-color: #F3F3F3;
  --text-color: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

.dark-mode {
  --bg-color: #1F2937;
  --text-color: #BFBFBF;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
}


.dark-mode .ql-stroke.ql-stroke.ql-stroke.ql-stroke {
  stroke: var(--text-color);
}

.dark-mode .ql-fill.ql-fill.ql-fill.ql-fill {
  fill: var(--text-color);
}

.dark-mode .ql-picker-label.ql-picker-label.ql-picker-label.ql-picker-label {
  color: var(--text-color);
}

.ql-container.ql-snow {
  margin-top: 5rem;
  margin: 0 auto;
  width: 210mm;
  min-height: 297mm;
  margin-top: 1rem;

}

/* .container .ql-toolbar.ql-snow {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #F3F3F3;
  border: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
} */


.ql-editor.ql-editor.ql-editor.ql-editor {

  min-height: 297mm;
  border-top: #BFBFBF solid 1px;
  background-color: white;
}

.dark-mode .ql-editor.ql-editor.ql-editor.ql-editor {
  background-color: #1F2937;
}

.ql-toolbar.ql-snow {
  /* justify-content: center;
  display: flex; */
  width: 100%;
  min-width: 1020px;
  position: fixed;
  top: 48px;
  z-index: 1;
  border: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
}